@page "/coffeelistitem"
@using CoffeeBar.Services
@using CoffeeBar.Data.Models
@inject MemberService memberService;
@inject CoffeeService coffeeService;

<tr>
    <td>
        <NavLink class="nav-link" href="memberdetails/1">
            <p role="status">@member.Name</p>
        </NavLink>
    </td>
    <td><p>@CoffeeAmount</p></td>
    <td><p>@getCost € </p></td>
    <td><button @onclick="AddCoffee">+</button></td>
    <td><button @onclick="ResetCheck">Reset</button></td>
</tr>

@code {
    [Parameter]
    public double coffeeCost { get; set; } = .2;
    [Parameter]
    public Member member { get; set; } = null;

    public int CoffeeAmount {
        get {
            return coffeeService.GetCoffeeAmount(member);
        }
    }
    public double getCost {
        get => Math.Round(CoffeeAmount*coffeeCost, 2);
    }
    private void AddCoffee() {
        //member.AmountCoffee ++;
        //memberService.UpdateMemberByName(member.Id, member.Name, member.AmountCoffee);
        if (member == null)
            throw new Exception("Member is null");
        coffeeService.AddCoffee(member);
        memberService.GetMembers();
        member = memberService.GetMember(member.Id);
    }
    private void ResetCheck() {
        // Should ask with a window if you really pay the right amount or configure the money that was paid.
        // member.AmountCoffee = 0;
        memberService.UpdateMemberByName(member.Id, member.Name, member.AmountCoffee);
    }
}
