@page "/"
@using CoffeeBar.Services
@using CoffeeBar.Data.Models
@inject MemberService memberService;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter IncrementAmount="10"/>

<EditForm Model=@member OnValidSubmit="HandleSubmit">
    <label for="NameInput">Name</label>
    <InputText id="NameInput" @bind-Value=@member.Name></InputText>
    @* <label for="CoffeeInput">Coffee Amount </label> *@
    @* <InputNumber id="CoffeeInput" @bind-Value=@member.AmountCoffee></InputNumber> *@
    <button type="submit" class="btn-primary">Create</button>
</EditForm>


@code {
    Member member = new Member();

    public void HandleSubmit(EditContext editContext) {
        var newMember = (Member)editContext.Model;
        newMember.CreatedDate = DateTime.Now;
        //newMember.ObjID = new Guid(new byte([1234567891011121314]);
        memberService.AddMember(newMember);
    }
}

