@page "/memberdetails/{id:int}"
@using CoffeeBar.Services
@using CoffeeBar.Data.Models
@inject MemberService memberService;
@inject CoffeeService coffeeService;
@implements IDisposable
<style>
table {
  font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>
<h3>@member.Name</h3>
<p>Coffees: @coffees.Count</p>

<table>
    <th>Date</th>
    <th>Amount</th>
    @foreach (var date in @dates) {
        <tr>
            <td>@date.Key.Date.ToString("dd.MM.yyyy")</td>
            <td>@date.Value</td>
        </tr>
    }
</table>

@code {
    CancellationTokenSource pollingCancellationToken;
    [Parameter] public int Id { get; set; }
    public Member member { 
        get {
            return memberService.GetMember(Id);
        }
    }

    public List<Coffee> coffees {
        get {
            return coffeeService.GetCoffeesById(Id);
        }    
    }

    public Dictionary<DateTime, int> dates {
        get {
            return coffeeService.GetDailyCoffeeAmount(member);
        }    
    }   

    void IDisposable.Dispose()
    {
        pollingCancellationToken?.Cancel();
    }
}